* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    width: 35em;
    height: 22em;
    background-image: url(./monster_hunter.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    margin: 5em auto
}

h1 {
    display: flex;
    align-self: center;

}

h3 {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0 1em 0 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    color: rgb(255, 255, 255);
    background-color: rgba(158, 63, 0, 0.788)
}

#NES {
    margin: 2%;
    max-height: 8em;
    background-color: rgba(158, 63, 0, 0.788); 
    border-radius: 5em;
}

