$bg-wood: url(../images/wood.jpeg);
$mozJtShadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
$webkitJtShadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
$normJtShadow: 0px 0px 30px 10px rgba(0,0,0,0.75);



@mixin bg-img($position:0 0,$repeat: no-repeat){
    background: {
        position: $position;
        repeat: $repeat;
    }
}



.jumbotron-custom {
    color:  $text-white;
    width: 90vw;
}

.jumbotron-bg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)),
        $bg-wood;
    @include bg-img;
    -webkit-box-shadow: $webkitJtShadow;
    -moz-box-shadow: $mozJtShadow;
    box-shadow: $normJtShadow;
}

.containerGif {
    width: 100vw!important;
}

