$text-white: #FFF;
$nav-text-border: darken(#FFF,30%);
$background-jumbo: lighten(rgb(48, 8, 8),10%);


.btn-custom {
        color: $text-white;
}

.btn-custom:hover {
    color: $text-white;
    text-decoration: none;
    border: 1px  solid $nav-text-border;
}

.jumbotron-custom {
    // as much as I hate "!important" sadly I'm forced to use it, because the Bootstrap-Guys used it and without it, I can't overwrite their style
    background-color: $background-jumbo!important;
    color:  $text-white;
    text-align: center;

    width: 90vw;
    h1{
        font-size: 3rem;
    }
}

.custom-form {
    width: 50vw;
    position: relative;
    top: 2rem;
    button {
        float: right;
    }
}