@import url('https://fonts.googleapis.com/css?family=New+Rocker');


$text-white: rgb(255, 255, 255);
$text-on-wood: 3px 3px 0px rgba(0, 0, 0, 1);;
$nav-text-border: darken(rgb(255, 255, 255),30%);


.newRocker {
    font-family: 'New Rocker', cursive;
}


.size-lg {
    font-size: 150px
}

.size-med {
    font-size: 80px
}


.size-sm {
    font-size: 50px
}


.btn-custom {
    color: $text-white;
}

.btn-custom:hover {
color: $text-white;
text-decoration: none;
border: 1px  solid $nav-text-border;
}

.text-color-custom {
    color: $text-white;
    text-shadow: $text-on-wood;
}